<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon"
        type="image/png"
        href="{{ url_for('static', filename='img/favicon.png') }}">

  <title>PATIA</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="app-body">
  <aside class="sidebar">
    <div class="brand">
      <img src="{{ url_for('static', filename='img/logo-patia.png') }}" class="logo-img" alt="PATIA">
    </div>

   <nav class="sidebar-nav">
    <a href="/">Dashboard</a>
    <a href="/products">Inventario</a>
    <a href="/sell">Punto de venta</a>
    {% if user is defined and user.plan == "pro" %}
<a href="/reports">Reportes IA</a>
{% else %}
<a href="/subscribe" style="opacity:.6;">
    Reportes IA PRO
</a>
{% endif %}
    <a href="/suppliers">Proveedores</a>


<a href="/logout" style="margin-top:10px;color:#ff8a8a;">
    Cerrar sesión
</a>

</nav>

    <div class="sidebar-card">
      <b>Plan Pro</b>
      <p>Diseñado para abarrotes, minisúpers y tiendas familiares.</p>
    </div>
  </aside>

  <main class="main">
    <header class="topbar">
      <div>
        <span class="eyebrow">Plataforma empresarial</span>
        <h1>{% block title %}{% endblock %}</h1>
      </div>

    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-wrap">
          {% for cat,msg in messages %}
            <div class="flash {{cat}}">{{msg}}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </main>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
<a
    href="https://wa.me/522381186483?text=Hola,%20quiero%20informaci%C3%B3n%20sobre%20PATIA"
    class="whatsapp-float"
    target="_blank"
>
    💬 WhatsApp
</a>
</body>
</html>